<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="racetrack_decorated"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="use_gpu" default="true"/>
  <arg name="visualize_lidar" default="false"/>
  <arg name="laser_sample_count" default="1080"/>
  <arg name="extra_gazebo_args" default=""/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racer_world)/worlds/$(arg world).world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find racer_description)/urdf/racer.xacro' use_gpu:=$(arg use_gpu) visualize_lidar:=$(arg visualize_lidar) laser_sample_count:=$(arg laser_sample_count) simulation:=true"/>

  <node name="racer_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racer" />

  <include file="$(find racer_control)/launch/racer_control.launch"/>

</launch>
