<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="use_gpu" default="true"/>
  <arg name="visualize_lidar" default="false"/>
  <arg name="laser_sample_count" default="1080"/>
  <arg name="robot_name" default="robot1" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find racer_description)/urdf/racer.xacro' use_gpu:=$(arg use_gpu) visualize_lidar:=$(arg visualize_lidar) laser_sample_count:=$(arg laser_sample_count)"/>
  <node name="racer_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model $(arg robot_name)" />
  <include file="$(find racer_control)/launch/racer_control.launch">
    <arg name="robot_control_name" value="$(arg robot_name)_controller"/>
  </include>
  
</launch>
