
ros_ws/build/
ros_ws/devel/
ros_ws/src/CMakeLists.txt
ros_ws/\.catkin_workspace
ros_ws/src/navigation_stack/car_cartographer/files/*
!ros_ws/src/navigation_stack/car_cartographer/files/.gitkeep
.vscode/

*.pyc

ros_ws/src/autonomous/neuralnetwork/configs/latest.conf
#ros_ws/src/autonomous/neuralnetwork/configs/init/*.conf
ros_ws/src/autonomous/neuralnetwork/configs/best_of/*.conf
