<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="joystick_type" default="ps3"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find racer_description)/urdf/racer.xacro'"/>

    <include file="$(find car_control)/launch/car_control.launch"/>

    <include file="$(find teleoperation)/launch/remote_control.launch">
        <arg name="joystick_type" value="$(arg joystick_type)"/>
    </include>

    <include file="$(find vesc_driver)/launch/vesc_driver_node.launch"/>

    <rosparam command="load" file="$(find vesc_sim)/config/car_config.yaml"/>

    <include file="$(find vesc_ackermann)/launch/vesc_to_odom_node.launch"/>

    <include file="$(find wallfollowing2)/launch/autonomous_driving_physical.launch"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find car_control)/launch/car.rviz"/>

    <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node">
        <rosparam file="$(find hardware)/razor_imu_config.yaml" command="load"/>
    </node>

    <node pkg="urg_node" type="urg_node" name="urg_node">
        <param name="_ip_address" value="192.168.1.10"/>
    </node>
</launch>
