<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="joystick_type" default="ps3"/>

    <include file="$(find car_control)/launch/car_control.launch"/>

    <include file="$(find teleoperation)/launch/remote_control.launch">
        <arg name="joystick_type" value="$(arg joystick_type)"/>
    </include>

    <include file="$(find vesc_driver)/launch/vesc_driver_node.launch"/>

    <rosparam command="load" file="$(find vesc_sim)/config/car_config.yaml"/>

    <include file="$(find vesc_ackermann)/launch/vesc_to_odom_node.launch"/>

    <include file="$(find wallfollowing1)/launch/autonomous_driving.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find car_control)/launch/car.rviz"/>

    <node pkg="urg_node" type="urg_node" name="urg_node">
        <param name="_ip_address" value="192.168.1.10"/>
    </node>
</launch>
