<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- Launches all necessary nodes that let the car drive autonomously. -->
    <!-- wall_following node -->

    <node
      respawn="true"
      pkg="wallfollowing1"
      type="wall_following"
      name="wall_following"
      output="screen" >
    </node>-

</launch>
