<?xml version="1.0"?>
<launch>
<!-- 
Launches all necessary nodes that let the car drive autonomous.
-->

    <!-- autonomous_control node -->
    <node
      respawn="true"
      pkg="autonomous"
      type="autonomous_control"
      name="autonomous_control"
      output="screen" >
    </node>

    <!-- wall_following node -->
    <node
      respawn="true"
      pkg="autonomous"
      type="wall_following"
      name="wall_following"
      output="screen" >
    </node>

    <!-- emergency_stop node -->
    <node
      respawn="true"
      pkg="autonomous"
      type="emergency_stop"
      name="emergency_stop"
      output="screen" >
    </node>

</launch>