<launch>
    <node name="remote_control" pkg="auto_race_pg" type="remote_control" output="screen"/>

    <!-- joy node -->
    <node respawn="true" pkg="joy"
      type="joy_node" name="turtle_joy" >
      <param name="dev" type="string" value="/dev/input/js2" />
      <param name="deadzone" value="0.12" />
    </node>

</launch>
