<launch>
    <!-- <node name="remote_control" pkg="auto_race_pg" type="remote_control" output="screen"/> -->

    <!-- remove control node -->
    <node
      respawn="true"
      pkg="auto_race_pg"
      type="remote_control"
      name="remote_control"
      output="screen" >
    </node>

    <!-- joy node -->
    <node
      respawn="true"
      pkg="joy"
      type="joy_node"
      name="turtle_joy"
      output="log" >
      <param name="dev" type="string" value="/dev/input/js2" />
      <param name="deadzone" value="0.12" />
    </node>

</launch>
