<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- 
Launches all necessary nodes that transform various frames
-->

    <!-- tf_laserscan_to_pointcloud node -->
    <node
      respawn="true"
      pkg="car_tf"
      type="laserscan_transformer"
      name="laserscan_transformer"
      output="screen" >
    </node>
	
</launch>