<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- Q-Learning related nodes: -->
  <arg name="plot_window" default="200"/>

  <node
    pkg="reinforcement_learning"
    type="train_policy_gradient.py"
    name="policy_gradient_training"
    output="screen" >
  </node>

  <node
    pkg="simulation_tools"
    type="crash_detector"
    name="crash_detector"
    output="screen" >
  </node>

  <node
    pkg="reinforcement_learning"
    type="plotter.py"
    name="policy_gradient_plotter"
    output="screen" >
    <param name="plot_window" value="$(arg plot_window)"/>
  </node>
</launch>
